<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>管理页面</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/mycss/updateUser.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/font-awesome.css}">
</head>
<body>
<div class="Container">
    <div class="head">
        <div class="head_h4">
            <h4>信息管理系统</h4>
        </div>
        <div class="head_a">
            <a>欢迎您,管理员</a> <a href="/learningSystem/index">注销</a>
        </div>
    </div>
    <div id="body">
        <div id="leftbody">
            <nav class="nav flex-column">
                <a class="nav-link active" th:href="@{/user/findAll}"><i class="fa fa-user-o" aria-hidden="true"></i>人员管理</a>
                <div class="line"></div>
                <a class="nav-link" th:href="@{/question/findAll}"><i class="fa fa-question-circle-o" aria-hidden="true"></i>问答管理</a>
                <div class="line"></div>

            </nav>
        </div>
        <div id="rightbody">
            <div id="rightbody_head">
                <div id="rightbody_head_body">
                    <div id="rightbody_head_body_a">
                        <a href="#">主页</a><a> /信息管理</a>
                    </div>
                </div>
            </div>
            <div id="rightbody_body">
                <div id="addUserBody">
                    <form th:action="@{/question/update}" method="post">
                        <span>问题:</span><input type="text" id="que" name="question" th:value="${ques.question}" style="width: 60%;height:40px;"><br/>
                        <input type="hidden" th:value="${ques.id}" name="id">
                        <span>答案:</span><textarea id="pwd" name="answer" th:value="${ques.answer}" style="width: 60%;height:150px;" th:text="${ques.answer}"></textarea><br/>

                        <span id="msg"></span><br/>
                        <input class="btn btn-primary" type="submit" id="subBtn" value="确认修改" style="width: 60%;height:40px;"  >
                    </form>
                </div>
            </div>
        </div>

    </div>


</div>



<script type="text/javascript"
        th:src="@{js/jquery-3.4.1.slim.min.js}"></script>

<script type="text/javascript"
        th:src="@{js/bootstrap.min.js}"></script>

</body>
</html>